 //'user client'

 .body {
         margin: 0;
         padding: 0;
         background-color: rgb(242, 244, 245);
         
        .cardMedia {
               padding-top: 56%;
        }
         .thumbsContainer {
                 display: flex;
                 flex-wrap: wrap;
         }

         .dropzone {
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 text-align: center;
                 width: 200px;
                 height: 150px;
                 margin: 0 15px 15px 0;
                 background-color: rgb(242, 244, 245);
                 border: 2px dashed black;
         }

         .thumb {
                 position: relative;
                 width: 200px;
                 height: 150px;
                 background-size: cover;
                 margin: 0 15px 15px 0;
                 background-position: center;


                 .mask {
                         display: none;
                         justify-content: center;
                         align-items: center;
                         text-align: center;
                         background-color: rgb(0, 0, 0, 0.7);
                         height: 100%;
                         width: 100%;

                         .delete {
                                 color: #ffffff;
                         }
                 }

                 .mainImage {
                         background-color: blue;
                         padding: 6px 10px;
                         position: absolute;
                         color: #ffffff;
                         bottom: 0;
                         left: 0;
                 }
         }

         .thumb:hover .mask {
                 display: flex;
         }

         .boxContainer {
                 margin-top: 20px;

                 .box {
                         background-color: #ffffff;
                         padding: 10px;
                 }
         }

         .searchContainer {
                 padding: 90px 60px 0px;

                 .searchBox {
                         display: flex;
                         justify-content: center;
                         padding: 20px;
                         margin-top: 20px;
                 }
         }

         .cardGrid {
           margin-top:60px;
         }

         .userName {
                margin-left: 6px;
         }
         .divider {
                margin: '8px 0px';
         }

         .link {
                text-decoration: none;
                list-style: none;
                color: inherit;
         }

 }